<h3>users</h3>
<table border="1">
<tr>
<td>id</td>
<td>username</td>
</tr>
{% for user in users %}
<tr>
<td>{{user.user.id}}</td>
<td>{{user}}</td>
</tr>
{% endfor %}
</table>

<h3>groups</h3>
<table border="1">
<tr>
<td>id</td>
<td>name</td>
<td>user_set</td>
</tr>
{% for group in groups %}
<tr>
<td>{{group.group.id}}</td>
<td>{{group}}</td>
<td>{{group.group.user_set.all}}</td>
</tr>
{% endfor %}
</table>

<h3>places</h3>
<table border="1">
<tr>
<td>id</td>
<td>name</td>
<td>lnglat</td>
</tr>
{% for place in places %}
<tr>
<td>{{place.id}}</td>
<td>{{place}}</td>
<td>{{place.lnglat}}</td>
</tr>
{% endfor %}
</table>


<h3>meetings</h3>
<table border="1">
<tr>
<td>id</td>
<td>group</td>
<td>user_set</td>
<td>time</td>
<td>place</td>
<td>homework</td>
</tr>
{% for meeting in meetings %}
<tr>
<td>{{meeting.id}}</td>
<td>{{meeting.group}}</td>
<td>{{meeting.group.group.user_set.all}}</td>
<td>{{meeting.time}}</td>
<td>{{meeting.place}}</td>
<td>{{meeting.homework}}</td>
</tr>
{% endfor %}
</table>

<h3>attendances</h3>
<table border="1">
<tr>
<td>meeting_id</td>
<td>username</td>
<td>time_arrival</td>
<td>islate</td>
<td>done_hw</td>

</tr>
{% for attendance in attendances %}
<tr>
<td>{{attendance.meeting.id}}</td>
<td>{{attendance.user}}</td>
<td>{{attendance.time_arrival}}</td>
<td>{{attendance.islate}}</td>
<td>{{attendance.done_hw}}</td>
</tr>
{% endfor %}
</table>

